.hero {
	position: relative;
	padding-top: 25px;
}

.hero__container {
	position: relative;
	display: flex;
	flex-direction: column;
	/* === min-width 375px, max-width 992px === */
	min-height: clamp(433px, 13.823rem + 56.49vw, 742px);
	/* min-height: 742px; */
	/* padding-top: 120px; */
}

/* @media (width <= 768px) {
	.hero__container {
		padding-top: 120px;
	}
} */

.hero__header {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

@media (width > 768px) {
	.hero__header {
		align-items: center;
	}
}

@media (width <= 768px) {
	.hero__header {
		flex-direction: column;
		align-items: flex-start;
	}
}

.hero__benefits-list {
	position: absolute;
	left: 0;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

@media (width <= 768px) {
	.hero__benefits-list {
		position: static;
		left: 0;
	}
}

.hero__benefits-item {
	font-weight: 400;

	line-height: 130%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--secondary-color);
}

@media (width > 768px) {
	.hero__benefits-item {
		font-size: 16px;
	}
}

@media (width <= 768px) {
	.hero__benefits-item {
		font-size: 16px;
	}
}

.hero__title {
	display: flex;
	/* === min-width 375px, max-width 1920px === */
	gap: clamp(8px, 0.09rem + 1.75vw, 35px);
	font-weight: 600;
	/* === min-width 375px, max-width 1920px === */
	font-size: clamp(53px, 1.786rem + 5.18vw, 128px);
	text-transform: uppercase;
	color: var(--main-color);
}

.hero__shoe {
	position: absolute;
	display: grid;
	place-items: center;
	top: calc(50% + 30px);
	left: 47.5%;
	transform: translate(-50%, -50%);
	z-index: var(--layer-negative);
}

@media (width <= 768px) {
	.hero__shoe {
		padding-top: 60px;
	}
}

.hero__title-accent {
	color: transparent;
}

@media (width > 768px) {
	.hero__title-accent {
		-webkit-text-stroke: 3px var(--accent-color);
	}
}

@media (width <= 768px) {
	.hero__title-accent {
		-webkit-text-stroke: 1.5px var(--accent-color);
	}
}

.hero__img {
	grid-area: 1 / 1;
	display: block;
	align-self: start;
	z-index: 1;
	/* === min-width 375px, max-width 768px === */
	width: clamp(230px, 3.836rem + 74.3vw, 510px);
	height: auto;

	margin-left: -5px;
	margin-top: -25px;
}

.oval {
	grid-area: 1 / 1;
	align-self: end;
	width: clamp(400px, 10.711rem + 74.3vw, 806px);
	height: auto;

	transform: translateY(16%) translateX(clamp(20px, calc(-30px + 3vw), 0px))
		translateY(clamp(-50px, calc(-30px + 3vw), 0px));
}

.hero__footer {
	position: absolute;
	right: 0;
	bottom: clamp(-112px, calc(-112px + 10.57vw), 80px);
}

.hero__details {
	display: inline-flex;
	align-items: center;
	gap: 15px;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--main-color);
	transition: color var(--transition-time);
}

@media (any-hover: hover) {
	.hero__details:hover {
		color: var(--accent-color);
	}
}

.hero__details-icon {
	stroke: currentColor;
}
