.header-inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid var(--color-stroke);
	gap: 10px;
	margin-bottom: 80px;
}

@media (max-width: 500px) {
	.header-inner {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 10px;
		margin: 0 auto;
	}
}

/* Логотип */
.logo {
	--s: 1;
	display: flex;
	align-items: baseline;
	gap: calc(10px * var(--s));
}
.logo_text {
	display: flex;
	flex-direction: column;
	line-height: 1;
}
.logo_fit,
.logo_studio {
	font-family: var(--second-family);
	color: var(--color-text-primary);
	text-transform: uppercase;
	font-weight: 400;
	margin: 0;
	line-height: 1;
}
.logo_text:hover .logo_fit,
.logo_text:hover .logo_studio {
	color: var(--color-accent);
	transition: color 0.2s;
}
.logo_fit {
	font-size: calc(21.68px * var(--s));
}
.logo_studio {
	font-size: calc(22.04px * var(--s));
	margin-top: -2px;
}
.logo_icon {
	display: block;
	width: calc(47.68px * var(--s));
	height: calc(15.14px * var(--s));
	margin-left: -56px;
}

/*Правая часть header*/
.phone {
	font-family: var(--second-family);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.phone a:hover {
	color: var(--color-accent);
	transition: color 0.2s;
}
.phone-text {
	color: var(--color-text-caption);
	text-transform: uppercase;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.04em;
	margin-bottom: 8px;
}
.phone-link {
	color: var(--color-text-primary);
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 0.04em;
}

@media (max-width: 500px) {
	.phone {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
