.ideas {
	padding-top: 47px;
	padding-bottom: 24px;
}

.ideas__inner {
	padding-top: 56px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 60px;
	-webkit-align-items: start;
	-ms-flex-align: start;
	align-items: start;
}

/* === IMAGE === */
.ideas__img-wrapper {
	border-radius: 12px;
	overflow: hidden;
	aspect-ratio: 4/3;
}

.ideas__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* === CONTENT === */
.ideas__articles-list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.ideas__article-link {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-block: 20px;
	font-family: var(--second-font-family);
	font-weight: var(--font-weight-regular);
	color: var(--color-main);
	font-size: 24px;
	line-height: 30px;
	text-align: left;
	right: 10.95%;
	left: 0%;
	max-width: 639px;
	top: 0px;
	-webkit-transition: color var(--transition-time);
	transition: color var(--transition-time);
}

.ideas__article-icon {
	stroke: currentColor;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-transition: -webkit-transform var(--transition-time);
	transition: transform var(--transition-time);
}

/* === HOVER BUTTON === */
@media (any-hover: hover) {
	.ideas__article-link:hover {
		color: var(--color-secondary);
	}
	.ideas__article-link:hover .ideas__article-icon {
		-webkit-transform: translate(3px, -3px);
		-ms-transform: translate(3px, -3px);
		transform: translate(3px, -3px);
	}
}

/* === SEE ALL LINK === */
.ideas__see-all {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: fit-content;
	margin: 74px auto 0;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 0px;
	font-size: 24px;
	line-height: 28.8px;
	font-family: var(--second-font-family);
	font-weight: var(--font-weight-regular);
	color: var(--color-main);
	-webkit-transition: color var(--transition-time);
	transition: color var(--transition-time);
	cursor: pointer;
}

/* === HOVER BUTTON === */
@media (any-hover: hover) {
	.ideas__see-all:hover {
		color: var(--color-secondary);
	}
	.ideas__see-all:hover .ideas__see-all-icon {
		-webkit-transform: translate(3px, -3px);
		-ms-transform: translate(3px, -3px);
		transform: translate(3px, -3px);
	}
}

.ideas__see-all-icon {
	stroke: currentColor;
	-webkit-transition: -webkit-transform var(--transition-time);
	transition: transform var(--transition-time);
}

@media (width <= 992px) {
	.ideas__article-link {
		font-size: 23px;
		padding-block: 19px;
	}
}

@media (width <= 768px) {
	.ideas__inner {
		grid-template-columns: 1fr;
		gap: 32px;
	}

	.ideas__content {
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}
	.ideas__img-wrapper {
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
	}

	.ideas__article-link {
		font-size: 22px;
		padding-block: 18px;
	}
}

@media (width <= 576px) {
	.ideas__article-link {
		font-size: 21px;
		padding-block: 17px;
	}
}
