html {
	font-family: sans-serif;
}

body * {
	box-sizing: border-box;
}

.header {
	padding-top: 15px;
}

.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 15px;
}

.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 15px;
	border-bottom: 1px solid #d3cbd9;
}

.logo {
	text-align: left;
	width: 50px;
	height: 50px;
	background: #000000;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
}

.number {
	justify-content: right;
}

@media (max-width: 568px) {
	.header_container {
		flex-direction: column;
		justify-content: center;
		gap: 15px;
	}

	.menu {
		justify-content: flex-start;
	}

	.number {
		justify-content: center;
	}
}
