.hero {
	position: relative;
	padding-top: 0;
}

.hero::after {
	content: "";
	position: absolute;
	bottom: 106px;
	z-index: -1;
	width: 100%;
	height: 48px;
	background: url("../images/decor-large-icon.svg") repeat-x;
}

.hero-container {
	display: flex;
	align-items: center;
	gap: 28px;
}

.hero h1 {
	font-family: var(--font-family);
	color: var(--color-text-primary);
	font-weight: 600;
	font-size: 62px;
	line-height: 115%;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.hero h1 strong {
	color: var(--color-accent);
	font-weight: 600;
}

.hero-info .text {
	max-width: 440px;
	margin-bottom: 140px;
}

.hero-images {
	position: relative;
	display: flex;
}

.hero-choose {
	position: absolute;
	padding: 22px;
	max-width: 161px;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	background: rgb(255 255 255 / 0.9);
	border: 1px solid var(--color-text-body);
	text-align: center;
}

.news-slider {
	display: flex;
	gap: 28px;
}

.news-article {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--color-stroke);
	background-color: #fff;
	width: 284px;
	height: 342px;
	overflow: hidden;
}

.news-article h3 {
	color: var(--color-text-primary);
}

.news-article img {
	display: block;
}

.news-info {
	padding: 20px 20px 0;
}

.news-date {
	display: inline-block;
	margin-bottom: 8px;
}

.news-article footer {
	padding: 12px 20px 20px;
	margin-top: auto;
}

.news-link {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: var(--color-accent);
}

.news-link::after {
	content: "";
	display: inline-block;
	width: 22px;
	height: 9px;
	background-image: url("../images/news/arrow-right-icon.svg");
	transition: transform 0.2s;
}

.news-link:hover::after {
	transform: translateX(5px);
}
