/* === ARTICLE TITLE === */
.article__subtitle {
	font-size: 36px;
}

/* === TEXT IN ARTICLE === */
.article__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: var(--color-text-body);
}

.article__text-margin-bottom {
	margin-bottom: 20px;
}

.article__text:last-child {
	margin-bottom: 0;
}

.article__margin-bottom {
	margin-bottom: 80px;
}

.article__margin-bottom-2 {
	margin-bottom: 40px;
}

/* === LIST === */
.article__list {
	list-style: none;
	margin-top: 0;
	padding-left: 0;
}

.article__item {
	position: relative;
	padding-left: 15px;
	margin-bottom: 12px;
}

.article__item::before {
	content: "•";
	position: absolute;
	left: -1px;
	top: 16px;
	-webkit-transform: translateY(-70%);
	-ms-transform: translateY(-70%);
	transform: translateY(-70%);
	color: var(--color-accent);
	font-size: 30px;
	line-height: 1;
}

/* === VIDEO === */
/* .article__video,
.article-video {
	margin-bottom: 40px;
} */

.article__video-wrapper {
	position: relative;
	display: inline-block;
}

/* === PLAY BUTTON === */
.article__play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	padding: 0;
	background-color: var(--color-accent);
	border: none;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition:
		opacity 0.2s,
		background-color 0.2s;
	-o-transition:
		opacity 0.2s,
		background-color 0.2s;
	transition:
		opacity 0.2s,
		background-color 0.2s;
}

.article__play-button:hover {
	opacity: 0.9;
}

.article__play-button:not(:disabled):active {
	background-color: var(--color-accent-active);
}

@media (width <= 768px) {
	.img-wrap {
		overflow: hidden;
	}

	.article-decor {
		display: none;
	}

	.article__margin-bottom {
		margin-bottom: 60px;
	}

	.article__subtitle {
		font-size: 32px;
	}
}

@media (width <= 576px) {
	.article__margin-bottom {
		margin-bottom: 40px;
	}

	.article__subtitle {
		font-size: 28px;
	}

	.article__margin-bottom-2 {
		margin-bottom: 30px;
	}

	.article__play-button {
		width: 50px;
		height: 50px;
	}

	.article__play-button img {
		width: 18px;
		height: 18px;
	}
}
