.calendar {
	border-collapse: collapse;
}
.calendar th,
.calendar td {
	border: 1px solid #333;
	text-align: center;
	padding: 5px;
}
.month {
	border: 1px solid #333;
	font-weight: bolder;
	border-bottom: none;
	font-family: sans-serif;
	text-align: center;
	padding: 5px 5px;
}
.day-off {
	color: #cc0e0e;
}
